name: Build ZMK firmware

on:
  pull_request:
  workflow_dispatch:
  push:
    paths-ignore:
      - "keymap-drawer/**"
      - ".github/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
